button{
    margin: 0 !important;
    width: 100% !important;
    color: #FFFF;
    font-size: 1rem;
    background-color: #389CD6;
    opacity: 1;
    padding: 0.25rem 2rem;
    border-radius: 12px;
    border: none;  
    cursor: pointer;
}

.root {
    display: flex;
    justify-content: center;
    width: 100vw;    
  }

  .menu-list{ 
    display: flex;
    justify-content: center;
    border-radius: 6px;
    list-style: none;
    height: 3rem;
  }
 

  .content{
    display: flex;
    position: absolute;
    background-color: #7B7070;
    border-radius: 12px;   
  }

  .content p{
    color: #FFFF;
    padding: 1rem;
    cursor: pointer;
  }

  @media(max-width: 1200px){
    .menu-list{
      height: 3.75rem;
    }
  }